{{ $bgColor := .Site.Params.defaultBgColor | default "bg-pink-50"  }}
{{ if isset .Site.Params "midsectionbgcolor" }}
  {{ $bgColor = .Site.Params.midSectionBgColor }}
{{ end }}
<section class="{{ $bgColor }} dark:bg-gray-900">
  <div class="container flex flex-col gap-x-10 max-w-screen-lg mx-auto px-6 py-12 items-center">
    <h3 class="text-3xl font-bold mb-4 text-red-600">Muse Systems Business Management System</h3>
    <div class="flex flex-col gap-4">
      <p class="text-md text-neutral-700">The Muse Systems Business Management System (MuseBMS) is designed as a general purpose, whole-business management system for businesses straddling the small/mid-sized boundary.</p>
      <p class="text-md text-neutral-700">The MuseBMS is currently being developed in the open on a "source available" basis.  For more on access rights and restrictions please see our <a href="https://docs.muse.systems/license/" target="_blank">license</a>.</p>
      <ul class="flex flex-col sm:flex-row mx-10 sm:mx-0  list-disc justify-evenly" >
        <li><a href="https://github.com/MuseSystems/musebms" target="_blank">Source Code</a></li>
        <li><a href="https://docs.muse.systems" target="_blank">Documentation</a></li>
        <li><a href="https://docs.muse.systems/license/" target="_blank">License</a></li>
      </ul>
    </div>
  </div>
</section>
